{% extends 'store_app/base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Review your order.......</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header">
                              Order Summary
                            </div>
                            <div class="card-body">
                                {% for product in cart_products %}
                                    {{product.name}}: 
                                    {% if product.is_sale %}
                                    $ {{ product.sale_price }}
                                    {% else %}
                                    $ {{ product.price }}
                                    {% endif %}
                                    <br>
                                    Quantity:
                                    {% for key, value in quantities.items %}
                                          {% if key == product.id|slugify %}
                                          {{ value }}
                                          {% endif %}
                                      {% endfor %}
                                      <br><br>
                                {% endfor %}
                              
                                <strong>Total:  $ {{totals}} </strong>
                                <br>
                                <a href="{% url 'cart_summary' %}" class="btn btn-outline-primary mt-3">Update Items</a>
                            </div>
                          </div>
                          <div class="card mt-3">
                            <div class="card-header">
                              Shipping Info
                            </div>
                            <div class="card-body">
                              <form action="{% url 'billing_info' %}" method="post">
                                {% csrf_token %}
                              {{ shipping_form.as_p }}
                            
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary mt-3 w-100">Continue to Billing</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        

{% endblock %}