{% extends 'store_app/base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Voir Vos Achat</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
               
                    
              {% if cart_products %}
                   
                    {% for product in cart_products %}
                    <div class="card mb-3 m-3" >
                        <div class="row g-0">
                            
                          <div class="col-md-4">
                            
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start m-2  mt-5" alt="...">
                        
                          </div>
                        
                          <div class="col-md-8">
                            <div class="card-body">
                                <center>
                              <h5 class="card-title">{{ product.name }}</h5>
                              <p class="card-text justified">{{ product.description }}</p>
                              <p class="card-text"> In: {{ product.category }}</p>
                              {% if product.is_sale %}
                                   <!--Sale-->
                                            <!-- Product reviews-->
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                <div class="bi-star-fill"></div>
                                                &nbsp;&nbsp;&nbsp;
                                                Sale!
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="bi-star-fill"></div>
                                            </div>
                                               <!-- Product price-->
                                               <strike> {{ product.price }} Dhs </strike>
                                               &nbsp;
                                               {{ product.sale_price }} Dhs 
                                               
                                               
                              {% else %}
                              {{ product.price }} Dhs 
                                                    
                              {% endif %}
                              <br><br>
                              <div class="row justify-content-center">
                                <div class="col-md-2">
                                Quantité:
                                </div>
                                <div class="col-md-2">
                                  <select class="form-select" aria-label="Default select example" id="select{{product.id}}">
                                    
                                      {% for key, value in quantities.items %}
                                          {% if key == product.id|slugify %}
                                          <option selected>{{ value }}</option>
                                          {% endif %}
                                      {% endfor %}
                                    
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>

                                    
                                  </select>
                                </div>
                                                             
                              </div>
                            </center>
                              <br>
                              <a href="{% url 'home' %}" class=" btn btn-primary w-100">Home</a>
                              <button type="button" data-index="{{product.id}}" class="btn btn-warning w-100 mt-2 update-cart">Changer la quantité</button>
                              <button type="button" data-index="{{product.id}}" class="btn btn-danger w-100 mt-2 delete-product">Eliminer Article</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    {% endfor %}
                    <strong class="row justify-content-center">Total: {{ totals }} Dhs </strong>
                    <a href="{% url 'checkout' %}" class="btn btn-success w-100 mt-2" >Suivant</a>
                    {% else %}
                    <p>
                        There's Nothing in your Cart......
                    </p>
                    {% endif %}
            
                    
                
            </div>
        </section>

        <script>
          //check if button pressed  update cart
          $(document).on('click', '.update-cart', function(e){
            e.preventDefault();
            var productid = $(this).data('index');  // Obtener el id del producto del botón clickeado
            console.log('Botón clickeado, productid:', productid); // Verifica que el botón se haya clickeado
            $.ajax({
              type: 'POST',
              url: '{% url "cart_update" %}',
              data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
        
              success: function(json){
                console.log(json)
                //document.getElementById("cart_quantity").textContent = json.qty;
                location.reload();
              },
        
              error: function(xhr, errmsg, err){
                console.log(xhr.status + ": " + xhr.responseText);  // Muestra el error en la consola
              
              }
            
            });
          });

          //delete item from cart

          $(document).on('click', '.delete-product', function(e){
            e.preventDefault();
            var productid = $(this).data('index');  // Obtener el id del producto del botón clickeado
            console.log('Botón clickeado, productid:', productid); // Verifica que el botón se haya clickeado
            $.ajax({
              type: 'POST',
              url: '{% url "cart_delete" %}',
              data: {
                product_id: $(this).data('index'),
                
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
        
              success: function(json){
                console.log(json)
                //document.getElementById("cart_quantity").textContent = json.qty;
                location.reload();
              },
        
              error: function(xhr, errmsg, err){
                console.log(xhr.status + ": " + xhr.responseText);  // Muestra el error en la consola
              
              }
            
            });
          });
        </script>

{% endblock %}