{% extends 'store_app/base.html' %}

{% block content %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">A propos de nous</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenue a notre ecommerce page</p>
        </div>
    </div>
</header>

<style>
    .container p {
        word-wrap: break-word; /* Asegura que las palabras largas se rompan */
        overflow-wrap: break-word; /* Compatibilidad adicional */
    }
    
    .container {
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    }

    p {
        white-space: pre-wrap; /* Mantiene los espacios y saltos de línea, y ajusta el texto */
    }
    
</style>

<div class="container">
    <div class="row">
        <div class="col-12 text-break overflow-auto">
            {% for about in la_lista_about %}
                <p>{{about.description}}</p>
                {% if user.is_superuser %}
                <div><a class="btn btn-success m-2" href="{% url 'actualiser_about' about.id %}">Actualiser {{about.id}}</a>
                <a class="btn btn-danger m-2"  href="#" onclick="confirmAboutDelete('{{ about.id }}')">Eliminer {{about.id}}</a>
                </div>
                
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}