{% extends 'store_app/base.html' %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}

    <h1>Actualiser la category....</h1>
    
    <form action="" method="POST" enctype="multipart/form-data" id="actualiserCategoryForm">
        {% csrf_token %}
        
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mb-5 w-100" >Actualiser Category </button>
    </form>
    
   
    {% else %}

    <h1>sorry you must be login to view this page</h1>
    <a class="btn btn-secondary" href="{% url 'login' %}">Login Here</a>
    
    {% endif %}

</div>  
{% endblock %}
