
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ecommerce</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.0/sweetalert2.css" integrity="sha512-ISg50yWmBgHf+gNWR8QPKuEzKzltcN5QOhu2CMTRtT+VXShvkhn1fn2I21dYo0Pz4362iyMNezNXIOpOsZkcWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <style>
            body{
              background: #f4f4f4;
            }
            .rating {
              color: #FFD700; /* Color de las estrellas */
          }
          
          .fas.fa-star,
          .far.fa-star {
              font-size: 16px; /* Tamaño de las estrellas */
              cursor: pointer; /* Cambia el cursor al pasar por encima */
          }
          .custom-table-container {
            overflow-x: auto; /* Permite desplazamiento horizontal si la tabla es demasiado ancha */
            max-width: 100%; /* Ajusta el ancho máximo al 100% del contenedor */
          }
        
          .custom-table {
            width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
          }
          .text-truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* Ajusta este valor según sea necesario */
          }
          .text-wrap {
            white-space: normal;
            word-wrap: break-word;
          }
          </style>
    </head>
    <body>
        <!-- Navigation-->
        {% include 'store_app/navbar.html' %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %}
        
       
        {% block content %}

        
        {% endblock %}
        

       
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
         
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.0/sweetalert2.min.js" integrity="sha512-iTSP2McqQzzin4TwBzVD2vGe2cKB9VxC6zouXB3J7enM/dblekPHIsJBMm0YGrZnyq1sTv/dGwo7oLY4nuRPGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            function confirmFomulaireArticleDelete(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer le formulaire article?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "Le Formulaire charge seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_formulaire_article/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "Le formulaire article seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };

            function confirmFomulaireVenteDelete(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer le formulaire vente?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "Le Formulaire vente seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_formulaire_vente/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "Le formulaire vente seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };

            function confirmFomulaireClientDelete(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer le formulaire client?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "Le Formulaire Client seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_formulaire_client/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "Le formulaire client seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };

            function confirmDelete(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer la charge?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "La charge seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_la_charge/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "La charge seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };

            function confirmFomulaireChargeDelete(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer le formulaire charge?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "Le Formulaire charge seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_formulaire_charge/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "Le formulaire charge seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };

            function confirmDeleteCategory(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer le formulaire category?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "Le Formulaire category seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_la_category/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "Le formulaire category seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };
            
            function verDescripcion(id,descripcion,url){
                console.log("el id es : " + id);
                Swal.fire({
                  title: "La Descripción",
                  text: descripcion,
                  imageUrl: url,
                  imageWidth: 400,
                  imageHeight: 200,
                  imageAlt: "Custom image",
                });
              
              };

              function verDescripcioCharge(id,descripcion,url){
                console.log("el id es : " + id);
                Swal.fire({
                  title: "La Descripción de la Charge",
                  text: descripcion,
                  imageUrl: url,
                  imageWidth: 400,
                  imageHeight: 200,
                  imageAlt: "Custom image",
                });
              
              };

              function verDescripcionVente(id,descripcion,url){
                console.log("el id es : " + id);
                Swal.fire({
                  title: "La Descripción de la Charge",
                  text: descripcion,
                  imageUrl: url,
                  imageWidth: 400,
                  imageHeight: 200,
                  imageAlt: "Custom image",
                });
              
              };


              function verAddresse(id,addresse,url){
                console.log("el id es : " + id);
                Swal.fire({
                  title: "L'Addresse",
                  text: addresse,
                  imageUrl: url,
                  imageWidth: 400,
                  imageHeight: 200,
                  imageAlt: "Custom image",
                });
              
              };

              
              
              function confirmAboutDelete(id) {
                Swal.fire({
                    title: "Tu es sure de vouloir eliminer le formulaire about?",
                    text: "C'est un procéde irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Oui Eliminer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí se muestra el segundo SweetAlert para informar sobre la eliminación
                        Swal.fire({
                            title: "Eliminée!",
                            text: "Le Formulaire about seleccionnée a été eliminer correctement.",
                            icon: "success",
                        }).then((isConfirmed) => {
                            // Verificar si el usuario ha confirmado el segundo SweetAlert
                            if (isConfirmed) {
                                console.log("el id es : " + id);
                                // Aquí redireccionamos al usuario para eliminar el registro
                                window.location.href = `/eliminer_about/${id}`; // Asegúrate de que esta URL sea correcta
                            } else {
                                Swal.fire("Cancelled", "Le formulaire about seleccionnée n'a pas été eliminer correctement :)", "error");
                            }
                        });
                    }
                });
            };

         
        
        </script>
    </body>
</html>
