{% extends 'store_app/base.html' %} 
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-8"><h1>Liste des articles</h1></div>
    <div class="col col-4"><h2 class="btn-primary text-center rounded text-warning">Utilizateur connecté(e): 
      {% if user.is_authenticated %}
      {{name}}
      {% else %}
      Tu n´est pas connécté(e)
      {% endif %}
    </h2></div>
  </div>
  
  <!-- antes venue_list-->

  <table class="table table-striped table-hover table-bordered border-primary shadow rounded custom-table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Nom Article</th>
        <th scope="col" class="text-center">Description Article</th>
        <th scope="col" class="text-center">Prix</th>
        <th scope="col" class="text-center">Cree le</th>
        <th scope="col" class="text-center">Vendu</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Article chargé</th>
       
        {% if user.is_superuser %}
        <th scope="col" class="text-center">Actualiser</th>
        {% endif %}
        {% if user.is_superuser %}
        <th scope="col" class="text-center">{% if user.is_superuser %}Eliminer{% endif %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for formulaire_article in la_lista_des_formulaire_articles %}
      <tr>
        <th class="text-wrap" style="max-width: 150px;" scope="row">{{formulaire_article.nom}}</th>
       
        <th>
          <a class="btn btn-primary" href="#" onclick="verDescripcion('{{ formulaire_article.id }}','{{formulaire_article.description}}','{{formulaire_article.image_charge.url}}')">Ver Descripcion 
            {{ formulaire_article.id }}</a>
        </th>
        <th class="text-wrap" style="max-width: 150px;" scope="row">{{formulaire_article.prix}}</th>
        <th class="text-wrap" style="max-width: 150px;" scope="row">{{formulaire_article.cree_le|date:"Y-m-d"}}</th>
        <th class="text-wrap" style="max-width: 150px;" scope="row">{{formulaire_article.vendu}}</th>
        <th class="text-wrap" style="max-width: 150px;" scope="row">{{formulaire_article.category}}</th>
        <!--
        <td style="text-align: center;">
            {% if formulaire_charge.image_charge %} 
           
            <img src="{{formulaire_charge.image_charge.url}}" width="20%" alt="" />
            {% endif %}
        </td>
        -->
        <!--
        <td style="text-align: center;">
          {% if formulaire_charge.image_charge %}
              <a href="{{ formulaire_charge.image_charge.url }}" target="_blank">
                  <img src="{{ formulaire_charge.image_charge.url }}" width="20%" alt="" />
              </a>
          {% endif %}
      </td>
      -->
      <td style="text-align: center;">
        {% if formulaire_article.image_charge %}
          <a href="{{ formulaire_article.image_charge.url }}" target="_blank">
            
              <img src="{{ formulaire_article.image_charge.url }}" width="20%" alt="{{ formulaire_article.image_charge.name }}" />
           
          </a>
        {% endif %}
      </td>
      
      
      
        {% if user.is_superuser %}
        <td style="text-align: center;">
          
          <a class="btn btn-success" href="{% url 'actualiser_formulaire_article' formulaire_article.id %}">Actualiser {{formulaire_article.id}}</a>
          
        </td>
        {% endif %}
       
        {% if user.is_superuser %}
        <td style="text-align: center;">
          
          <a class="btn btn-danger" href="#" onclick="confirmFomulaireArticleDelete('{{ formulaire_article.id }}')">Eliminer {{formulaire_article.id}}</a>
          
      </td>
      {% endif %}
      </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
      <tr>
          <th colspan="2" class="text-right">Total Montant</th>
          <th class="text-wrap" style="max-width: 150px;" scope="row">{{ total_montant|floatformat:2 }}</th>
          <th colspan="{% if user.is_superuser %}4{% else %}2{% endif %}"></th>
      </tr>
      {% if user.is_superuser %}
      <tr>
        <td colspan="9" class="text-center">
          <!-- Agrega el botón para exportar a Excel -->
    <a href="?export=excel" class="btn btn-success">Exportar a Excel</a>
        </td>
      </tr>
      {% endif %}
  </tfoot>
  </table> 
  <br /><br />
  <br />
  {% if tous_les_formulaire_articles.has_previous %}
  <a class="btn btn-primary" href="?page=1">&laquo; First</a>
  <a
    class="btn btn-success"
    href="?page={{ tous_les_formulaire_articles.previous_page_number }}"
    >Previous</a
  >
  {% endif %}

  <div class="btn btn-light">
    Page {{ tous_les_formulaire_articles.number }} of {{ tous_les_formulaire_articles.paginator.num_pages }}
  </div>
  {% if tous_les_formulaire_articles.has_next %}
  <a
    class="btn btn-danger"
    href="?page={{tous_les_formulaire_articles.next_page_number}}"
    >Next</a
  >
  <a
    class="btn btn-warning"
    href="?page={{ tous_les_formulaire_articles.paginator.num_pages }}"
    >Last &raquo;</a
  >
  {% endif %}
  <br /><br />

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if tous_les_formulaire_articles.has_previous %}
      <li class="page-item m-1">
        <a class="btn btn-primary page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item m-1">
        <a
          class="btn btn-success page-link"
          href="?page={{ tous_les_formulaire_articles.previous_page_number }}"
          >Previous</a
        >
      </li>

      {% endif %}

      <li class="page-item m-1 page-link">
        Page {{ tous_les_formulaire_articles.number }} of {{ tous_les_formulaire_articles.paginator.num_pages }}
      </li>

      {% for i in nums %}
      <li class="page-item m-1">
        <a class="btn btn-danger page-link" href="?page={{forloop.counter }}"
          >{{ forloop.counter }}</a
        >
      </li>
      {% endfor %} {% if tous_les_formulaire_articles.has_next %}

      <li class="page-item m-1">
        <a
          class="btn btn-danger page-link"
          href="?page={{tous_les_formulaire_articles.next_page_number}}"
          >Next</a
        >
      </li>
      <li class="page-item m-1">
        <a
          class="btn btn-warning page-link"
          href="?page={{ tous_les_formulaire_articles.paginator.num_pages }}"
          >Last &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>

  <br />


</div>
{% endblock %}


  